@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

html{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color:rgb(252, 220, 211);
  font-family: 'VT323', monospace, sans-serif


}
.body {
  display: flex;
  flex-direction: column;
  justify-content:flex-start ;
  align-items: center;
  padding: 20px 40px;
  background-color: #f9f6f6;
  border: 2px solid #494848;
  border-radius: 2px;
  filter: drop-shadow(9px 7px 0 #494848);
  height: 60vh;
  width: 70vw;
  
  
}

h1{
  color:#2e2d2d;
}

input {
  height: 40px;
  width: 50vw;
  border: 1px solid #1b1b1b;
  border-radius: 2px;
  background-color:#d1cece;
  text-align: center;
  font-size: 25px;
  font-family: 'VT323', monospace, sans-serif

}

.result {
  background-color: rgb(242, 242, 154);
  display: flex;
  justify-content: center;
}
